<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Hello!</title>
    <style>
        h1
        {
            font-size: xxx-large;
            color: cadetblue;
        }
        br {
            font-size: large;
            font-family: "Times New Roman",serif;
        }
        a{
            font-size: larger;
        }
    </style>
</head>
<body>
<h1>Это новостной агрегатор</h1>
<br>Курсовая работа выполнена студенткой ИКБО-30-21 Катковой А.О. </br>
<a href="/feed">Посмотреть фид</a>
</body>
</html>